* {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

header{
    border-bottom: 2px solid white;
    padding: 20px;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}

.buttons {
    position: absolute;
    top: 30px;
    right: 30px;
}

.navbar {
    width: 70%;
    margin: 10px auto;
    text-align: center;
}

.navbar ul li {
    list-style: none;
    display: inline;
    margin: 10px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar ul li a:hover {
    color: blue;

}

.buttons {
    position: absolute;
    top: 30px;
    right: 30px;
}

.btn1,.btn2 {
    padding: 15px;
    border: none;
    font-weight: 600;
    border-radius: 15px;
}

.btn1 {
    background-color: blue;
    margin-right: 10px;
}

.btn:hover{
    border: 2px solid white;
    background-color: transparent;
}

.btn2 {
    border: 2px solid white;
}

.btn2:hover {
    background-color: blue;
    border: none;
}

.left-content {
    width: 50%;
    height: 550px;
    position: absolute;
    left: 0px;
}

.right-content {
    width: 50%;
    height: 550px;
    position: absolute;
    right: 0px;
}

.img-box{
    width: 300px;
    height: 300px;
    border: 5px solid blue;
    margin: 50px;
    background-image: url(/materals/Screenshot\ 2025-08-30\ 220729.png);
    background-size: cover;
}

.inline{
    color: blue;
}